{
  "printWidth": 145,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "semi": false,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "**/*.geo.json",
      "options": {
        "printWidth": 180,
        "proseWrap": "never"
      }
    }
  ]
}