.network-icon {
  font-weight: bold;

  --icon-bg: #fff;
  --icon-color: #000;

  &__mobile {
    --icon-bg: rgb(201, 238, 243);
  }

  &__bt {
    --icon-bg: rgb(184, 151, 211);
  }

  &__vm {
    --icon-bg: rgb(255, 157, 157);
  }

  &__cityfibre {
    --icon-bg: rgb(208, 253, 194);
  }

  &__trooli {
    --icon-bg: rgb(255, 245, 172);
  }

  &__grain {
    --icon-bg: rgb(71, 76, 150);
    --icon-color: #fff;
  }

  &__ofnl {
    --icon-bg: #d981ff;
  }

  &__toob {
    --icon-bg: #81c9c6;
  }

  &__zzoomm {
    --icon-bg: #eb87be;
  }

  &__netomnia {
    --icon-bg: #c9729a;
  }

  &__fibrus {
    --icon-bg: #76c288;
  }

  &__hyperoptic {
    --icon-bg: #1ba4cd;
  }

  &__newworldpayphones {
    --icon-bg: #000;
    --icon-color: #fff;
  }

  &__gdotnetwork {
    --icon-bg: #5ac8ff;
  }

  &__comm-fibre {
    --icon-bg: #370050;
    --icon-color: #fff;
  }

  &__vorboss {
    --icon-bg: #d5966a;
  }

  &__colt {
    --icon-bg: #00d7bd;
  }

  &__exponentiale {
    --icon-bg: #457f1a;
    --icon-color: #fff;
  }

  &__neos {
    --icon-bg: #3ab1a5;
  }

  &__zayo {
    --icon-bg: #ff8002;
  }

  &__lightning-fibre {
    --icon-bg: #9bbf52;
  }

  &__lightspeed {
    --icon-bg: #07184f;
    --icon-color: #fff;
  }

  &__fibre-and-wireless {
    --icon-bg: #333333;
    --icon-color: #fff;
  }

  &__swish {
    --icon-bg: #7169e0;
    --icon-color: #fff;
  }

  &__giganet {
    --icon-bg: #f9d648;
  }

  &__box {
    --icon-bg: #beebd8;
  }

  &__full-fibre {
    --icon-bg: #cf1bb7;
    --icon-color: #fff;
  }

  &__mlcc {
    --icon-bg: #559dd8;
    --icon-color: #000;
  }

  &__vx-fiber {
    --icon-bg: #7339dd;
    --icon-color: #fff;
  }

  &__hampstead-fibre {
    --icon-bg: #4dc9f5;
    --icon-color: #000;
  }

  &__wightfibre {
    --icon-bg: #1d7bbf;
    --icon-color: #fff;
  }

  &__cw {
    --icon-bg: #4f2d7f;
    --icon-color: #fff;
  }

  &__lit {
    --icon-bg: #fecf00;
    --icon-color: #000;
  }

  &__gofibre {
    --icon-bg: #adefd2;
    --icon-color: #000;
  }

  &__truespeed {
    --icon-bg: #f20040;
    --icon-color: #fff;
  }

  &__allpoints {
    --icon-bg: #2727d5;
    --icon-color: #fff;
  }

  &__fibrespeed {
    --icon-bg: #ff0011;
    --icon-color: #000;
  }

  &__tiger-fibre {
    --icon-bg: #ff8000;
    --icon-color: #000;
  }

  &__general-telecoms {
    --icon-bg: #3294a6;
    --icon-color: #000;
  }

  &__fibrewave {
    --icon-bg: #4bc9e8;
    --icon-color: #000;
  }

  &__national-grid {
    --icon-bg: #00148c;
    --icon-color: #fff;
  }

  &__kcom {
    --icon-bg: #e56a04;
    --icon-color: #fff;
  }

  &__jurassic {
    --icon-bg: #009bac;
    --icon-color: #fff;
  }

  &__yesfibre {
    --icon-bg: #540469;
    --icon-color: #fff;
  }

  &__freedom-fibre {
    --icon-bg: #ed047a;
    --icon-color: #fff;
  }

  &__airband {
    --icon-bg: #56def4;
    --icon-color: #000;
  }

  &__stix {
    --icon-bg: #050a22;
    --icon-color: #fff;
  }

  &__gigaclear {
    --icon-bg: #f60;
    --icon-color: #fff;
  }

  &__arqiva {
    --icon-bg: #c80032;
    --icon-color: #fff;
  }

  &__cellnex {
    --icon-bg: #61a229;
    --icon-color: #fff;
  }

  &__eircom {
    --icon-bg: #d111c9;
    --icon-color: #fff;
  }

  &__my-fibre {
    --icon-bg: #1d5377;
    --icon-color: #fff;
  }

  &__gtt {
    --icon-bg: #1c4075;
    --icon-color: #fff;
  }

  &__thales {
    --icon-bg: #171f69;
    --icon-color: #fff;
  }

  &__openinfra {
    --icon-bg: #f5ded4;
    --icon-color: #000;
  }

  &__telcom {
    --icon-bg: #0293ff;
    --icon-color: #fff;
  }

  &__optical-fibre-infra {
    --icon-bg: #e71d73;
    --icon-color: #fff;
  }

  &__eunetworks {
    --icon-bg: #084ff0;
    --icon-color: #fff;
  }

  &__spring-fibre {
    --icon-bg: #f6a500;
    --icon-color: #000;
  }

  &__verizon {
    --icon-bg: #e00;
    --icon-color: #fff;
  }

  &__tata {
    --icon-bg: #2b69a4;
    --icon-color: #fff;
  }

  &__ix-wireless {
    --icon-bg: #2db8c5;
    --icon-color: #000;
  }

  &__brsk {
    --icon-bg: #002d72;
    --icon-color: #fff;
  }

  &__wildanet {
    --icon-bg: #825891;
    --icon-color: #fff;
  }

  &__next-gen-access {
    --icon-bg: #f1592a;
    --icon-color: #000;
  }

  &__lumen {
    --icon-bg: #0c9ed9;
    --icon-color: #000;
  }

  &__bai {
    --icon-bg: #00aeef;
    --icon-color: #000;
  }

  &__digitalinfra {
    --icon-bg: #f0212b;
    --icon-color: #000;
  }

  &__its-group {
    --icon-bg: #ff8000;
    --icon-color: #000;
  }

  &__glide {
    --icon-bg: #2aca73;
    --icon-color: #fff;
  }

  &__sky_uk {
    --icon-bg: #09114f;
    --icon-color: #fff;
  }

  &__infolines {
    --icon-bg: #000;
    --icon-color: #fff;
  }

  &__ogi {
    --icon-bg: #eb364b;
    --icon-color: #fff;
  }

  &__railsite {
    --icon-bg: #2c464f;
    --icon-color: #fff;
  }

  &__borderlink {
    --icon-bg: #bfedd4;
    --icon-color: #000;
  }

  &__b4rn {
    --icon-bg: #305db2;
    --icon-color: #fff;
  }

  &__quickline {
    --icon-bg: #280b42;
    --icon-color: #fff;
  }

  &__ms3 {
    --icon-bg: #c63ed3;
    --icon-color: #fff;
  }

  &__connexin {
    --icon-bg: #d23731;
    --icon-color: #fff;
  }

  &__fibre-me {
    --icon-bg: #344ef3;
    --icon-color: #fff;
  }

  &__global-reach {
    --icon-bg: #232b3e;
    --icon-color: #79adb4;
  }

  &__nexfibre {
    --icon-bg: #02081a;
    --icon-color: #56a4d8;
  }

  &__nynet {
    --icon-bg: #00e8c3;
    --icon-color: #000;
  }

  &__voneus {
    --icon-bg: #00d6b6;
    --icon-color: #000;
  }

  display: flex;
  flex-direction: column;

  width: 50px !important;
  height: 28px !important;

  filter: drop-shadow(0 0 1px black);

  text-align: center;
  font-size: 16px;

  line-height: 20px;

  position: relative;

  align-items: center;
  justify-content: center;

  b {
    display: block;
    background: var(--icon-bg);
    align-self: stretch;
    color: var(--icon-color);
  }

  span {
    display: block;

    width: 0;
    height: 0;

    border-top: 8px solid var(--icon-bg);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}

.streetworks-popup {
  border-radius: 12px;

  .leaflet-container a.leaflet-popup-close-button {
    right: 16px;
  }

  .leaflet-popup-content {
    margin: 0;
    padding: 16px;

    &-wrapper {
      max-height: calc(var(--map-height, 70vh) - 48px);
      max-width: calc(90vw - 16px);
      overflow-x: hidden;
      overflow-y: auto;
    }

    h1 {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }

    h2 {
      font-size: 14px;
      margin: 8px 0;
      margin-bottom: -6px;
      font-weight: bold;
    }

    p {
      font-size: 14px;
      margin: 8px 0;
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}
