name: Smoketest

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  NODE_VERSION: 16.x

jobs:
  formatting:
    runs-on: ubuntu-latest
    name: Verify formatting

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'

      - name: Install dependencies
        run: |
          yarn install --immutable

      - name: Verify formatting
        run: yarn format:check

  build:
    name: Build site
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'

      - name: Install dependencies
        run: |
          yarn install --immutable

      - name: Restore Gatsby cache
        uses: actions/cache@v3
        id: gatsbyCache
        with:
          path: ./.cache
          key: ${{ runner.os }}-gatsby-cache-${{ secrets.CACHE_VERSION }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-gatsby-cache-${{ secrets.CACHE_VERSION }}-

      - name: Restore Gatsby build output
        uses: actions/cache@v3
        id: gatsbyOut
        with:
          path: ./public
          key: ${{ runner.os }}-gatsby-out-${{ secrets.CACHE_VERSION }}-${{ hashFiles('yarn.lock') }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-gatsby-out-${{ secrets.CACHE_VERSION }}-${{ hashFiles('yarn.lock') }}
            ${{ runner.os }}-gatsby-out-${{ secrets.CACHE_VERSION }}-

      - name: Build site
        run: yarn build:ci

  deploy:
    name: Deploy site to production
    runs-on: ubuntu-latest
    needs: [build, formatting]

    # Only deploy on push to deploy branch
    if: github.ref == 'refs/heads/deploy' && github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Restore Gatsby cache
        uses: actions/cache@v3
        id: gatsbyCache
        with:
          path: ./.cache
          key: ${{ runner.os }}-gatsby-cache-${{ secrets.CACHE_VERSION }}-${{ hashFiles('yarn.lock') }}

      - name: Restore Gatsby output
        uses: actions/cache@v3
        id: gatsbyOut
        with:
          path: ./public
          key: ${{ runner.os }}-gatsby-out-${{ secrets.CACHE_VERSION }}-${{ hashFiles('yarn.lock') }}-${{ github.sha }}
